@model IEnumerable<CabTap.Shared.Driver.DriverAllViewModel>
@{
    ViewData["Title"] = "Index";
}
<h1>Index</h1>

<partial name="_AdminPartial" />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <partial name="_EntityActionsPartial" model="@item.Id" />
                </td>
            </tr>
        }
    </tbody>
</table>