@{
    ViewData["Title"] = "Home Page";
}

<head>
    <title>@ViewData["Title"]?.ToString()</title>
    
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.css"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet-geosearch@3.11.0/dist/geosearch.css"/>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
</head>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@if (User.Identity is {IsAuthenticated: true})
{
    <div id="map"></div>

    <div id="confirmButton" style="display: none;">
        <button id="confirmRoute" class="btn btn-primary">Confirm Route</button>
    </div>
    
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.js"></script>
    <script src="https://unpkg.com/leaflet-geosearch@3.11.0/dist/geosearch.umd.js"></script>

    <script src="js/config.js"></script>
    <script src="js/geolocation.js"></script>
    <script src="js/routing.js"></script>
    <script src="js/main.js"></script>
}