.autocomplete-dropdown {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

.autocomplete-dropdown-item {
    padding: 5px 10px;
    cursor: pointer;
}

.autocomplete-dropdown-item:hover {
    background-color: #f0f0f0;
}

.category-card {
    margin-right: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.category-card:hover {
    transform: translateY(-5px);
}

#categoryCards {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.selected {
    border: 2px solid #007bff; /* Blue border */
}

#createButton {
    display: none;
}