html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding-top: 0;
    background-color: #f0f7ff;
}

p {
    margin-top: 16px;
}

.marketing {
    color: black;
}

.form-group, .form-floating {
    margin-bottom: 15px;
}

.col-md-4, .col-sm-2 {
    margin-bottom: 20px;
}