@using CabTap.Shared.Pagination
@model IEnumerable<CabTap.Shared.Reservation.ReservationAllViewModel>
@{
    ViewData["Title"] = "All Reservations";
}
<h1 style="margin-bottom: 30px;">@ViewData["Title"]</h1>

<partial name="_AdminPartial" />

@{
    const bool showUsernameFilter = true;
}
<div class="row">
    <div class="col-md-12">
        <form asp-controller="Reservations" asp-action="Index" method="get" id="filterForm" class="mb-4">
            <partial name="_SortFilterPartial" model="showUsernameFilter"></partial>
        </form>
    </div>
</div>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <div style="padding-bottom: 15px;">
                        <h5 class="card-title fw-bold">
                            @await Html.PartialAsync("_TruncateLocationPartial", item.Origin)
                        </h5>
                        <h5 class="card-title fw-bold">
                            @await Html.PartialAsync("_TruncateLocationPartial", item.Destination)
                        </h5>
                    </div>
                    <partial name="_CardContentPartial" model="item" />
                    <div class="text-center">
                        <partial name="_EntityActionsPartial" model="@item.Id" />
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@{
    var currentPage = (int)(ViewData["CurrentPage"] ?? 1);
    var totalPages = (int)(ViewData["TotalPages"] ?? Model.Count() / 9);

    var paginationModel = new PaginationViewModel
    {
        CurrentPage = currentPage,
        TotalPages = totalPages
    };
}
<div>
    <partial name="_PaginationPartial" model="paginationModel" />
</div>