@model IEnumerable<CabTap.Shared.Reservation.ReservationAllViewModel>

@{
    ViewBag["Title"] = "Reservations";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
      
</div>
</body>
</html>