@using CabTap.Shared.Pagination
@using CabTap.Core.Entities.Enums
@model IEnumerable<CabTap.Shared.Reservation.ReservationAllViewModel>
@{
    ViewData["Title"] = "Reservation History";
}
<h1 style="margin-bottom: 30px;">@ViewData["Title"]</h1>

<partial name="_AdminPartial" />

@{
    const bool showUsernameFilter = false;
}
<div class="row">
    <div class="col-md-12">
        <form asp-controller="Reservations" asp-action="MyReservations" method="get" id="filterForm" class="mb-4">
            <partial name="_SortFilterPartial" model="showUsernameFilter"></partial>
        </form>
    </div>
</div>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <div>
                        <h5 class="card-title fw-bold text-truncate">@item.Origin</h5>
                        <h5 class="card-title fw-bold text-truncate">@item.Destination</h5>
                    </div>
                    <hr>
                    <partial name="_CardContentPartial" model="item" />
                    <hr>
                    <div class="text-center" style="margin-bottom: 15px;" >
                        <partial name="_EntityActionsPartial" model="@item.Id" />
                    </div>
                    <partial name="_ReservationActionsPartial" model="item"></partial>
                </div>
            </div>
        </div>
    }
</div>

@{
    var currentPage = (int)(ViewData["CurrentPage"] ?? 1);
    var totalPages = (int)(ViewData["TotalPages"] ?? Model.Count() / 9);

    var paginationModel = new PaginationViewModel
    {
        CurrentPage = currentPage,
        TotalPages = totalPages
    };
}
<div>
    <partial name="_PaginationPartial" model="paginationModel" />
</div>