@using CabTap.Shared.Pagination
@model IEnumerable<CabTap.Shared.Reservation.ReservationAllViewModel>
@{
    ViewData["Title"] = "Reservation History";
}
<h1 style="margin-bottom: 30px;">@ViewData["Title"]</h1>

<partial name="_AdminPartial" />
<partial name="_SortFilterPartial" />

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <div style="padding-bottom: 15px;">
                        <h5 class="card-title fw-bold">
                            @await Html.PartialAsync("_TruncateLocationPartial", item.Origin)
                        </h5>
                        <h5 class="card-title fw-bold">
                            @await Html.PartialAsync("_TruncateLocationPartial", item.Destination)
                        </h5>
                    </div>
                    <partial name="_CardContentPartial" model="item" />
                    <div class="text-center" style="margin-bottom: 15px;" >
                        <partial name="_EntityActionsPartial" model="@item.Id" />
                    </div>
                    <div class="card-footer" id="toggle">
                        <partial name="_ReservationActionsPartial" model="@item"/>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@{
    var paginationModel = new PaginationViewModel
    {
        CurrentPage = ViewBag.CurrentPage,
        TotalPages = ViewBag.TotalPages
    };
}
<div>
    <partial name="_PaginationPartial" model="paginationModel" />
</div>